body{
    background-image: url("assets/images/white-waves.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #24302c;
}
*{
    box-sizing: border-box;
}
.navbar {
    margin-bottom: 15px;
}
.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 201, 201);
}
#Profile_All {
    position: relative;
    float: left;
}
#Profile {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 15px;
    margin-top: 70px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#Speechbubble {
    position: absolute;
    left: 33px;
    top: -10px;
    width: 100px;
    height: 100px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(201, 201, 201);
}
.row {
    position: relative;
}
.noblock {
    display: inline-block;
    position: relative;
    margin-right: -100px;
    /* padding: 15px; */
}
.image{
    height: 100%; 
    width: 75%;
}
.label {
    position: absolute;
    width: 75%;
    bottom: 10px;
    text-align: center;
    background-color: #216578;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
footer{
    position: relative;
    width: auto;
    top: 125px;
    text-align: center;
    padding: 20px;
    background-color: #216578;
    color: white;
    border-top-style: solid;
    border-width: 5px;
    border-color: #e3bb37;
}